<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Main.less" />
    <link rel="stylesheet" type="text/css" href="~/Content/Index.less" />
</head>
<body>
    <header class="my-header">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><h4>我的記帳本</h4></li>
                <li>@Html.ActionLink("首頁", "#")</li>
                <li>@Html.ActionLink("關於", "#")</li>
                <li>@Html.ActionLink("聯絡方式", "#")</li>
            </ul>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="my-footer">
        <div class="container">
            <hr />
            <p>
                © 2016 - <span>林彥瑀 Ernest</span>
            </p>
        </div>
    </footer>
</body>
</html>
